.table-wrapper{
    width:100%;
    overflow:auto;
    background:#fff;
    border-radius:16px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#2563eb;
    color:#fff;
}

th{
    padding:16px;
    text-align:left;
    font-size:15px;
}

td{
    padding:16px;
    border-bottom:1px solid #eee;
}

tbody tr:hover{
    background:#f5f8ff;
}

.action-buttons{
    display:flex;
    gap:10px;
}

.view-btn,
.delete-btn{
    width:35px;
    height:35px;
    border:none;
    border-radius:8px;
    color:#fff;
    cursor:pointer;
}

.view-btn{
    background:#0ea5e9;
}

.delete-btn{
    background:#ef4444;
}

.view-btn:hover{
    background:#0284c7;
}

.delete-btn:hover{
    background:#dc2626;
}