.customers{
    width:100%;
    padding:25px;
}

.customer-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.customer-header h1{
    color:#1f2937;
    font-size:30px;
}

.add-btn{
    background:#2563eb;
    color:#fff;
    border:none;
    padding:12px 22px;
    border-radius:10px;
    cursor:pointer;
    font-size:15px;
    font-weight:600;
    transition:.3s;
}

.add-btn:hover{
    background:#1d4ed8;
}

.loading-box{
    background:#fff;
    padding:70px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}