.table-wrapper{

    width:100%;
    overflow-x:auto;
    overflow-y:hidden;
    background:#ffffff;
    border-radius:18px;
    border:1px solid #edf2f7;
    box-shadow:0 10px 30px rgba(15,23,42,.08);

}

.table-wrapper::-webkit-scrollbar{

    height:8px;

}

.table-wrapper::-webkit-scrollbar-thumb{

    background:#cbd5e1;
    border-radius:20px;

}

.table-wrapper table{

    width:100%;
    min-width:900px;
    border-collapse:collapse;

}

.table-wrapper thead{

    background:#2563eb;

}

.table-wrapper th{

    color:#fff;
    padding:16px;
    font-size:14px;
    font-weight:600;
    white-space:nowrap;
    text-align:center;

}

.table-wrapper td{

    padding:15px;
    border-bottom:1px solid #edf2f7;
    text-align:center;
    color:#374151;
    white-space:nowrap;
    font-size:14px;

}

.table-wrapper tbody tr{

    transition:.25s;

}

.table-wrapper tbody tr:hover{

    background:#f8fbff;

}

.no-data{

    text-align:center;
    padding:45px;
    color:#6b7280;
    font-weight:600;

}

@media(max-width:768px){

.table-wrapper table{

min-width:850px;

}

.table-wrapper th{

padding:14px;
font-size:13px;

}

.table-wrapper td{

padding:14px;
font-size:13px;

}

}

@media(max-width:480px){

.table-wrapper table{

min-width:800px;

}

.table-wrapper th,
.table-wrapper td{

padding:12px;

}

}