.timeline-card{

background:#fff;

padding:25px;

border-radius:15px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.timeline-card h2{

margin-bottom:20px;

}

.timeline{

display:flex;

flex-direction:column;

gap:18px;

}

.timeline-item{

display:flex;

gap:15px;

align-items:flex-start;

}

.circle{

width:15px;

height:15px;

border-radius:50%;

background:#2563eb;

margin-top:8px;

}

.content{

padding-bottom:20px;

border-left:2px solid #cbd5e1;

padding-left:20px;

}

.content h4{

margin-bottom:5px;

color:#1e293b;

}

.content p{

margin-bottom:4px;

color:#64748b;

}

.content small{

color:#2563eb;

font-weight:600;

}