.layout{

display:flex;

width:100%;

min-height:100vh;

background:#f5f7fb;

overflow:hidden;

}

.layout-content{

margin-left:270px;

width:calc(100% - 270px);

min-height:100vh;

transition:.35s;

display:flex;

flex-direction:column;

}

.layout-content.expand{

margin-left:85px;

width:calc(100% - 85px);

}

.layout-content main{

flex:1;

padding:30px;

overflow-x:hidden;

}

/* Tablet */

@media(max-width:992px){

.layout{

display:block;

}

.layout-content{

margin-left:0;

width:100%;

}

.layout-content.expand{

margin-left:0;

width:100%;

}

.layout-content main{

padding:20px;

}

}

/* Mobile */

@media(max-width:768px){

.layout-content main{

padding:15px;

}

}

/* Small Mobile */

@media(max-width:480px){

.layout-content main{

padding:12px;

}

}