.delete-overlay{

position:fixed;

inset:0;

background:rgba(0,0,0,.45);

display:flex;

justify-content:center;

align-items:center;

z-index:999;

}

.delete-modal{

width:420px;

background:#fff;

border-radius:20px;

padding:35px;

text-align:center;

animation:popup .3s ease;

}

@keyframes popup{

from{

opacity:0;

transform:scale(.9);

}

to{

opacity:1;

transform:scale(1);

}

}

.delete-icon{

font-size:60px;

margin-bottom:15px;

}

.delete-modal h2{

margin-bottom:15px;

}

.delete-modal p{

color:#666;

margin-bottom:30px;

line-height:1.6;

}

.delete-buttons{

display:flex;

gap:15px;

}

.cancel-btn{

flex:1;

height:48px;

border:none;

background:#ddd;

border-radius:10px;

cursor:pointer;

font-size:16px;

}

.delete-btn{

flex:1;

height:48px;

border:none;

background:#ef4444;

color:#fff;

border-radius:10px;

cursor:pointer;

font-size:16px;

}

.delete-btn:hover{

background:#dc2626;

}